<%= form_for @moment, :url=>{:action=> (action), :id=>(id)} do |f|%>
    <% if @moment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@moment.errors.count, "error") %>
            prohibited this moment from being created:</h2>
          <p>There was a problem with the following field:</p>
          <ul>
            <% @moment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="center">
        <b>What moment message would you like to create?</b><br />
        <%= f.text_area(:message, cols: 50, rows: 6, :placeholder => "Enter moment message here...") %>
    </div>
    <br><br>
    <div class="center">
        <%= submit_tag(button_name, class:"btn btn-success")%><br><br>
    </div>
    <div class="center">
         <%= link_to 'Back to My Moments', "/posts/index", class: "btn btn-info" %>
    </div>
<% end %>