<% if user_signed_in? %>
    <% @friend.each do |f| %>
        <h1 style="text-align: center"><%= f.email %>'s Moments</h1>
    <% end %>
    <br>

    <% @friend_moments.each do |moment| %>
    <div class="rcorners">
        <p><b>Posted <%= time_ago_in_words(moment.created_at) %> ago</b></p>
        <tr>
          <td><%= moment.message %></td>
        </tr>
    </div>
    <% end %>
    <br>
    <br>
    <div class="center">
        <%= link_to 'Back to Main Page', "/home/list_friends", class: "btn btn-info" %>
    </div>
<% else %>
    <p>You are not signed in.</p>
    <%= link_to 'Login', new_user_session_path, class: "btn btn-info" %>
<% end %>